
<script type="text/template" id="chat-template">
  <div id="messages">
    <div class="message">
      Hello world
    </div>
  </div>
  <div id="div-chat-input">
    <input type="text" class="form-control" id="chat-input"\>
  </div>
</script>