
<script type="text/template" id="chat-template">
  <div id="messages">
    <div class="message">
      Hello worldwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww wwwwwwwwwwwwwwwwwwwwww
    </div>
  </div>
  <div id="div-chat-input">
    <input type="text" class="form-control" id="chat-input"\>
  </div>
  <div id="rooms-container">
    Chat rooms
    <div id="rooms">
    </div>
    <div class="new-chat-input">
      <lable>Create new chat</lable>
      <table>
        <tr>
          <td><input class="form-control" type="text" id="create-room" placeholder="Chat name"></td>
          <td><input class="form-control" type="text" id="room-password" placeholder="Chat password"></td>
        </tr>
      <table>
      <p><input class="form-check-input" type="checkbox" id="flexCheckDefault" class="is_private"> Private</p>
      <button type="button" class="btn btn-outline-dark" id="create-room-btn">Create</button>
    </div>
  </div>
</script>