<script type="text/template" id="direct_message_template">
  <div class="message" data-user-id="<%%= user_id %>">
    <table>
      <div>
        <tr><th><img class="user_icon" width="35px" height="35px" src="<%%= avatar %>" style="margin-bottom: 10px"></th>
        <th id="user-name"><%%= displayname %>:</th>
      </div>
      <th id="message-content"> <%%= content %> </th></tr>
    </table>
  </div>
</script>

<script type="text/template" id="direct_messages_template">
    <h1 id="receiver_name"></h1><br>
    <div id="messages">
    </div>
    <div id="div-chat-input">
        <input type="text" class="form-control" id="chat-input" autocomplete="off"\>
    </div>
</script>
