<script type="text/template" id="guild-template">
  <div class="row" style="max-width: 1000px; min-width: 300px">
    <div class="col-2"><a class="link-light" id="guild-profile"><%%= name %></a></div>
    <div class="col-1"><%%= anagram %></div>
    <div class="col-1"><%%= score %></div>
    <div class="col-3 "><a class="link-light" id="master"><%%= master_name %></a></div>
    <div class="col-3"><%= current_user.guild_id %></div>
    <% if !current_user.guild_id %>
      <div class="col-1"> <button type="button" class="btn btn-light options-button join" id="join-button">join</button></div>
      <% else #elsif current_user.guild_id == id && !current_user.guild_master%>
      <div class="col-1"> <button type="button" class="btn btn-danger options-button" id="leave-button">leave</button></div>
    <% end %>
  </div>
</script>

<script>
    function openForm() {
        document.getElementById("newGuildForm").style.display = "block"; }
    function closeForm() {
        document.getElementById("newGuildForm").style.display = "none";
    }
</script>

<script type="text/template" id="guilds-template">
  <% if !current_user.guild_id %>
  <button class="open-button" onclick="openForm()">Create Guild</button>
  <div class="form-popup" id="newGuildForm">
    <form id="create-guild" class="form-container">
      <input type="text" class="form-control" id="newGuildName" placeholder="The Guild Name" pattern="[A-Za-z ]{3,20}" required="required" title="Guild Name can only have 3-20 letters, no special symbols allowed"><br>
      <button type="submit" class="btn btn-success">Create Guild</button>
      <button type="button" class="btn btn-danger" onclick="closeForm()">Cancel</button>
    </form>
  </div>
  <% end %>
  <h1>Guilds <button type="button" class="button-sm" id="refresh-button">
    <%= show_svg('refresh.svg') %></button></h1>
    <div class="row" style="max-width: 1000px; min-width: 300px">
      <div class="col-2">Name</div>
      <div class="col-1">Anagram</div>
      <div class="col-1">Score</div>
      <div class="col-2">Master</div>
      <div class="col-3">Wars</div>
    </div>
</script>

<script type="text/template" id="guild-profile-template">
  <h1><%%= name %></h1>
  <div class="row">Anagram:&nbsp;
    <%if current_user.guild_master #check this guild master%>
        <input type="text" class="form-control" id="anagram"
            value="<%%= anagram %>"
            style="width: 6ch; background-color: #00000e; color:white; padding: 1px;">
      <!--<pattern="[A-Za-z0-9]{2,5}" required="required" title="Anagram can only have 2-5 letters, no whitespaces or special symbols allowed"></pattern>-->
    <%else %>
      <%%= anagram %>
    <%end %>
  </div>
  <div class="row">Current score:&nbsp;<%%= score %></div>
</script>
