<div class="login-button-container">
  <div class="login-button-vertical-center">
    <%= button_to "Sign in with 42", user_marvin_omniauth_authorize_path, class: "btn btn-outline-light" %>
  </div>
</div>
