<script type="text/template" id="message-template">
  <div class="message" data-user-id="<%%= user_id %>">
    <table>
        <tr style="vertical-align:top;"><th><img class="user_icon" width="35px" height="35px" src="<%%= avatar %>" style="margin-bottom: 10px"></th>
          <th id="user-name"><%%= displayname %>:</th>
          <th id="message-content"> <%%= content %> </th>
          <th <%%= display_block ? '' : 'style="display:none"' %>>
            <div id="make_adm">⠀ADM</div>
          </th>
          <th <%%= display_block ? '' : 'style="display:none"' %>>
            <div style="width: 7%; float:left;" id="block_user_room"><%= show_svg('block.svg') %></div></div>
          </th>
        </tr>
    </table>
  </div>
</script>

<script type="text/template" id="messages-template">
    <h1 id="room-name"></h1><br>
    <div id="messages">
    </div>
    <div id="div-chat-input">
        <input type="text" class="form-control" id="chat-input" autocomplete="off"\>
    </div>
</script>
