
<script type="text/template" id="room-template">
  <a href="#/room_<%%= id %>> 
    <div class="card-body">
     <p><%%= name %></p> 
    </div>
  </a>
</script>

<script type="text/template" id="rooms-template">
<div id="messages">
  <div class="message">
    Hello worldwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww wwwwwwwwwwwwwwwwwwwwww
  </div>
</div>
<div id="div-chat-input">
  <input type="text" class="form-control" id="chat-input"\>
</div>
<div id="rooms-container" class="container-fluid">
  Chat rooms
  <div id="rooms" lass="card mb-2">
  </div>
  <div class="new-chat-input">
    <lable>Create new chat</lable>
    <table>
      <tr>
        <td><input class="form-control" type="text" id="room-name" placeholder="Chat name"></td>
        <td><input class="form-control" type="text" id="room-password" placeholder="Chat password"></td>
      </tr>
    <table>
    <p><input class="form-check-input" type="checkbox" id="flexCheckDefault" class="is_private"> Private</p>
    <button type="button" class="btn btn-outline-dark" id="create-room-btn">Create</button>
  </div>
</div>
</script>