<script type="text/template" id="room-template">
  <a class="room-click" href="#/room_<%%= id %>"><div class="card mb-2"><p class="room_name"><%%= name %></p></div></a>
</script>

<script type="text/template" id="message-template">
  <div class="message">
    <table>
      <th><img class="user_icon" width="35px" height="35px" src="<%%= avatar %>" style="margin-bottom: 10px"></th>
      <th><%%= displayname %></th>
    </table>
    <%%= content %>
  </div>
</script>

<script type="text/template" id="rooms-template">
<div id="messages">
</div>
<div id="div-chat-input">
  <input type="text" class="form-control" id="chat-input" autocomplete="off"\>
</div>
<div id="rooms-container" class="container-fluid">
  Chat rooms
  <div id="rooms" lass="card mb-2">
  </div>
  <div class="new-chat-input">
    <lable>Create new chat</lable>
    <table>
      <tr>
        <td><input class="form-control" type="text" id="room-name" placeholder="Chat name" autocomplete="off"></td>
        <td><input class="form-control" type="text" id="room-password" placeholder="Chat password" autocomplete="off"></td>
      </tr>
    <table>
    <p><input class="form-check-input" type="checkbox" id="flexCheckDefault" class="is_private"> Private</p>
    <button type="button" class="btn btn-outline-dark" id="create-room-btn">Create</button>
  </div>
</div>
</script>
