<script type="text/template" id="settings-template">
  <h1>Settings</h1><br></br>
  <div class="row">
  <aside class="col-md-4">
    <section>
      <img class="user_avatar" width="100px" height="100px"
           src="<%%= avatar_url %>" style="margin-bottom: 10px">
        <%# begin %>
          <%#= image_tag current_user.avatar_url, size: "100x100", class: "user_avatar"%>
        <%# rescue %>
          <%#= image_tag current_user.avatar_default_url, size: "100x100", class: "user_avatar"%>
        <%# end %>
        <!--<input type="file" id="upload_user_avatar" style="display: none;" />-->
        <input type="text" class="upload_user_avatar" placeholder="Image URL" >
    </section>
  </aside>
  </div><br>
  <div>
    <label for="displayname">Display name</label><br></br>
    <input type="text" name="displayname" id="displayname" value="<%%= displayname %>" >
    <br></br>
    <label for="email">Email</label><br></br>
    <input type="text" name="email" id="email" value="<%%= email %>" >
  </div>
  <div class="two-factor-header">
    <p>Two Factor Authentification</p>
    <p>
      <%%= otp_required_for_login ?
        '<button type="button" class="btn btn-danger" id="2fa-enable">Disable 2FA</button>' :
        '<button type="button" class="btn btn-dark" id="2fa-disable">Enable 2FA</button>' %>
    </p>
  </div>
</script>

<script type="text/template" id="settings-2fa-template">
</script>
