<script type="text/template" id="settings-template">
  <h1>Settings</h1>
  <label for="nickname"> Nickname:</label>
  <input type="text" name="nickname" id="nickname" value="<%%= nickname %>" >
  <label for="email"> Email:</label>
  <input type="text" name="email" id="email" value="<%%= email %>" >
</script>

