<script type="text/template" id="settings-template">
  <h1>Settings</h1><br></br>
  <div class="row">
  <aside class="col-md-4">
    <section>
        <% begin %>
          <%= image_tag current_user.avatar_url, size: "100x100 ", class: "user_avatar"%><br></br>
        <% rescue %>
          <%= image_tag current_user.avatar_default_url, size: "100x100 ", class: "user_avatar"%><br></br>
        <% end %>
        <!--<input type="file" id="upload_user_avatar" style="display: none;" />-->
        <input type="text" class="upload_user_avatar" placeholder="Image URL" >
    </section>
  </aside>
  </div><br></br>
  <div>
  <label for="displayname">Display name</label><br></br>
  <input type="text" name="displayname" id="displayname" value="<%%= displayname %>" >
  <br></br>
  <label for="email">Email</label><br></br>
  <input type="text" name="email" id="email" value="<%%= email %>" >
  </div>
</script>
