<script type="text/template" id="singletournament-template">
  <td style="text-align: left">
    <label>Tournament #<%%= id %></label>
  </td>
  <td><label><%%= status %></label></td>
  <td><label><%%= new Date(start_date).toLocaleString() %></label></td>
  <td><label><%%= users.length %></label></td>
</script>

<script type="text/template" id="tournaments-template">
  <h1>Tournaments
    <button type="button" class="button-sm button-refresh" id="refresh-button">
      <%= show_svg('refresh.svg') %>
    </button>
  </h1>
  <table id="tournaments-table" border-spacing="20px" padding="0 2em 1em 0">
    <tr>
      <th style="text-align: left">Tournament</th>
      <th>Status</th>
      <th>Starts</th>
      <th>Registred</th>
    </tr>
  </table>
</script>

<script type="text/template" id="tournamentpage-template">
  <h1>
    <button type="button" class="button-sm button-back" id="back-button" onclick="window.history.back();">
      <%= show_svg('arrow-left.svg') %>
    </button>
    Tounament #<%%= id %>
    <button type="button" class="button-sm button-refresh" id="refresh-button">
      <%= show_svg('refresh.svg') %>
    </button>
  </h1>
  <p>Starts: <%%= new Date(start_date).toLocaleString() %></p>
  <p>Status: <%%= status %></p>
  <p>Registred: <%%= users.length %></p>
</script>
