<script type="text/template" id="singleuser-template">
  <td>
    <img class="user_icon" width="30px" height="30px"
         src="<%%= avatar_url %>"
         onerror=" if (this.src !== '<%%= avatar_default_url %>')
             this.src = '<%%= avatar_default_url %>';">
  </td>
  <td><label><%%= id %></label></td>
  <td><label><%%= nickname %></label></td>
  <td><label><%%= email %></label></td>
  <td><label><%%= wins %></label></td>
  <td><label><%%= loses %></label></td>
  <td><input id="displayname" value="<%%= displayname %>" style="text-align: center;width: 20ch;"></td>
</script>

<script type="text/template" id="users-template">
  <h1>Users <button type="button" class="button-sm" id="refresh-button">
    <%= show_svg('refresh.svg') %></button></h1>
  <table id="users-table" border-spacing="20px" padding="0 2em 1em 0">
    <tr><th></th><th>Id</th><th>Nickname</th><th>Email</th><th>Wins</th><th>Loses</th><th>Display name</th></tr>
  </table>
</script>
