<script type="text/template" id="singleuser-template">
  <td><label><%%= nickname %></label></td>
  <td><label><%%= email %></label></td>
</script>

<script type="text/template" id="users-template">
  <h1>Users</h1>
  <table id="users-table">
    <tr><th>Nickname</th><th>Email</th></tr>
  </table>
</script>
