<script type="text/template" id="war-template">
  <div class="row" style="max-width: 1000px; min-width: 300px">
    <div class="col-4">
      <%%=`<a class="link-light" href="#/guilds/${guild1_id}">`%><%%= g1_name %></a>
      &nbsp;vs.&nbsp;
      <%%=`<a class="link-light" href="#/guilds/${guild2_id}">`%><%%= g2_name %></a>
     </div>
    <div class="col-1"><%%= stake %></div>
    <div class="col-1"><%%= start %></div>
    <div class="col-1"><%%= end %></div>
    <div class="col-2"><%%= winner ? (winner == 1 ? g1_name : g2_name) : '' %></div>
    <div class="col-2"> <button type="button" class="btn btn-light options-button join" id="more-button">more info</button></div>
  </div>
</script>

<script type="text/template" id="wars-template">
  <h1>Wars <button type="button" class="button-sm" id="refresh-button">
    <%= show_svg('refresh.svg') %></button></h1>
  <div class="row" style="max-width: 1000px; min-width: 300px">
    <div class="col-4">Guilds</div>
    <div class="col-1">Stake</div>
    <div class="col-1">Start</div>
    <div class="col-1">End</div>
    <div class="col-2">Winner</div>
  </div>
</script>

  <script type="text/template" id="war-invite-template">
    <div class="row" style="max-width: 1000px; min-width: 300px">
      <div class="col-2">
        <%%=`<a class="link-light" href="#/guilds/${guild1_id}">`%><%%= g1_name %></a>
      </div>
      <div class="col-1"><%%= stake %></div>
      <div class="col-1"><% %></div>
      <div class="col-1"><%%= end %></div>
      <div class="col-3"><%%= wartime_start %> &nbsp;-&nbsp; <%%= wartime_end %></div>
      <div class="col-2"> <button type="button" class="btn btn-light options-button join" id="more-button">more info</button></div>
      <div class="col-1"> <button type="button" class="btn btn-success options-button" id="accept-button">accept</button></div>
      <div class="col-1"> <button type="button" class="btn btn-danger options-button" id="decline-button">decline</button></div>
    </div>
  </script>

<script type="text/template" id="war-request-template">
  <div class="row" style="max-width: 1000px; min-width: 300px">
    <div class="col-2">
      <a class="link-light" href="#/guilds/${guild2_id}"><%%= g2_name %></a>
    </div>
    <div class="col-1"><%%= stake %></div>
    <div class="col-1"><%%= start %></div>
    <div class="col-1"><%%= end %></div>
    <div class="col-3"><%%= wartime_start %> &nbsp;-&nbsp; <%%= wartime_end %></div>
    <div class="col-2"> <button type="button" class="btn btn-light options-button join" id="more-button">more info</button></div>
    <div class="col-2"> <button type="button" class="btn btn-danger options-button" id="cancel-button">cancel request</button></div>
  </div>
</script>

<script type="text/template" id="war-invites-template">
    <h1>War invitations <button type="button" class="button-sm" id="refresh-button">
      <%= show_svg('refresh.svg') %></button></h1>
    <div class="row" style="max-width: 1000px; min-width: 300px">
      <div class="col-2">Opposite guild</div>
      <div class="col-1">Stake</div>
      <div class="col-1">Start</div>
      <div class="col-1">End</div>
      <div class="col-3">Wartime</div>
    </div>
</script>

<script type="text/template" id="war-profile-template">
  <h1><button type="button" class="button-sm button-back" id="back-button"
              onclick="window.history.back();">
    <%= show_svg('arrow-left.svg') %>
  </button>
    War
    <button type="button" class="button-sm button-refresh" id="refresh-button">
      <%= show_svg('refresh.svg') %>
    </button>
  </h1>
  <div class="row">
    <div class="col-3"> <%%=`<a class="link-light" href="#/guilds/${guild1_id}">`%><%%= g1_name %></a></div>
    <div class="col-1">&nbsp;vs.&nbsp;</div>
    <div class="col-3"> <%%=`<a class="link-light" href="#/guilds/${guild2_id}">`%><%%= g2_name %></a></div>
  </div>
<div <%%=accepted ? '' : 'style="display:none"' %>>
  <div class="row">
    <div class="col-3"><%%= g1_score %> &nbsp;points</div>
    <div class="col-1">&nbsp;&nbsp;&nbsp;</div>
    <div class="col-3"><%%= g2_score %> &nbsp;points</div>
  </div>
  <div class="row">
    <div class="col-3"><%%= g1_matches_won %> &nbsp;matches won</div>
    <div class="col-1">&nbsp;&nbsp;&nbsp;</div>
    <div class="col-3"><%%= g2_matches_won %> &nbsp;matches won</div>
  </div>
  <div class="row">
    <div class="col-3"><%%= g1_matches_unanswered %> &nbsp;matches unanswered</div>
    <div class="col-1">&nbsp;&nbsp;&nbsp;</div>
    <div class="col-3"><%%= g2_matches_unanswered %> &nbsp;matches unanswered</div>
  </div>
  <br>
  <div class="row"><div class="col-3">Matches in total: &nbsp;<%%= stake %></div></div>
  <div class="row" <%%=winner ? '' : 'style="display:none"' %>><div class="col-3">Winner: &nbsp;<%%= winner == 1 ? g1_name : g2_name %></div></div>
  </div>
  <br>
  <div class="row"><div class="col-3">Stake: &nbsp;<%%= stake %></div></div>
  <div class="row"><div class="col-9">Start: &nbsp;<%%= start %></div></div>
  <div class="row"><div class="col-9">End: &nbsp;<%%= end %></div></div>
  <div class="row"><div class="col-9">Wartime: &nbsp;<%%= wartime_start %> &nbsp;-&nbsp; <%%= wartime_end %></div></div>
  <div class="row"><div class="col-3">Wait time: &nbsp;<%%= wait_minutes %>&nbsp;minutes</div></div>

  <br>
  <div class="row"><div class="col-3">Included match types:</div></div>
  <ul class="options">
    <%%=duel ?  '<li class="w"><i class="material-icons">done</i>duels</li>' : ''%>
    <%%=ladder ?  '<li class="w"><i class="material-icons">done</i>ladder</li>' : ''%>
    <%%=tournament ?  '<li class="w"><i class="material-icons">done</i>tournaments</li>' : ''%>
  </ul>
</script>