<%= render 'pong/templates/oauth42' %>
<%= render 'pong/templates/pong' %>

<table style="width:100%">
  <td>
    <th style="width:100px" valign="top" align="left">
      <ul>
        <li><a href="#/index">Home</a></li>
        <li><a href="#/oauth">42 OAuth</a></li>
        <li><a href="#/pong">Pong</a></li>
      </ul>
    </th>
    <th valign="top" align="left">
      <div id="app_main">Loading SPA</div>
    </th>
  </td>
</table>
