#messages {
    overflow-y: auto;
    height: 78.5%;
    width: 90%;
    position: absolute;
    border-radius: 5px;
    left: 5%;
}


#messages::-webkit-scrollbar {
    display: none;
}

#div-chat-input {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 90%;
}

.message {
    width: 97%;
    word-wrap: break-word;
}


#message-content {
    width: 98%;
    position: relative;
    left: 1%;
    word-break:break-all;
}

#user-name {
    position: relative;
    left: 0.5%;
    top: 0.5%;
}

#block_user_room svg {
    fill: rgb(255, 209, 209);
    width: 30px;
    margin-left: 15px;
    padding: 1px;
    display: block;
    position: relative;
    left: 30%;
}

dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
