// Place all the styles related to the Api/TwoFactor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.qrcode {
  background: white;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 20px;
}

div.qrcode svg {
  width: fit-content;
  height: fit-content;
}

div.two-factor-header {
  margin-top: 20px;
}
