// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button-sm {
  background: none;
  border: none;
  margin: 5px;
}

svg {
  width: 20px;
  height: 20px;
  fill: #F7F7F7;
}

#refresh-button svg:hover {
  fill: darkseagreen;
}

table #users-table th, table #users-table tr {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

table #users-table img {
  margin: 2px;
}

.displayname:focus {
  background: #00000e;
}
